name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: GolangCI-Lint
        uses: Mushus/golangci-linter@v1.1.2

      - name: Build
        run: go build -v .

      - name: Docker
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: maksim77/tinkoff_exporter
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
